*{
    padding: 0px;
    margin: 0px;
}

main{
    width: 60%;
    margin-left: 20%;
}

header{
    background-color: navy;
    color: white;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 20px; /*margin-left : 20px + margin-right : 20px과 같음*/
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article ul{
    width: 70%;
    margin-top: 20px;
    list-style: none;
    background-color: beige;
}

article li{
    display: flex;
    align-items: center;
    height: 20px;
    margin: 10px;
    border: 1px dotted gray;
}

article a{
    text-decoration: none;
    color: black;
}

article li:hover{
    background-color: goldenrod;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > h1{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

section > div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted gray;
    padding: 20px;
    margin: 10px;
}

header > div > a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: midnightblue;
    background-color: white;
    border-radius: 5px;
    width: 60px;
    
}