button{
    width: 100px;
    height: 40px;
    background-color: deeppink;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#btArea2 > button {
    background-color: green;
}

#bt3{
    background-color: darkblue;
}

button:hover, #btArea2 > button:hover, #bt3:hover{
    background-color: rgb(118, 12, 12);
    color: white;
    cursor: pointer;
}

h2{
    font-size: medium;
    color: blue;
}

.btGroup{
    background-color:whitesmoke;
}